.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: rgb(102, 102, 102);
  background-image: url(./assets/the-beatles-minimalism-simple-background-music-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
